@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  font-size: 100px;
}

.card {
  width: 350px;
  height: 500px;
  border-radius: 2%;
  margin: 50px;
}

#left {
  transform: rotate(180deg);
}

.numero {
  font-size: 90px;
}
